
{# ---------------------------------------------------------------------------- #}
{% block collection_row %}
    {{ form_label(form) }}
    <div class="form-group">
    {{ form_widget(form) }}
    </div>
{% endblock %}

{# ---------------------------------------------------------------------------- #}
{% block collection_label %}
    <h4  class="form-section">{{ label }}</h4>
{% endblock %}

{# ---------------------------------------------------------------------------- #}
{% block collection_widget %}
    <div class="collection col-sm-12">
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }} class="collectionholder">
            {{ form_errors(form) }}
            <table class="col-md-12">
                <tbody>
            {% for rows in form %}
                <tr>
                {% set fieldNum = 1 %}
                {% for row in rows %}
                    <td class="field{{ fieldNum }}">
                    {{ form_widget(row, attr) }}
                    {{ form_errors(row) }}
                    </td>
                    {% set fieldNum = fieldNum + 1 %}
                {% endfor %}
                </tr>
            {% endfor %}
                </tbody>
            </table>
            {{ form_rest(form) }}
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clear"></div>

{% endblock collection_widget %}

{% block collection_item_label %}

{% endblock collection_item_label %}
{# ---------------------------------------------------------------------------- #}
{% block collection_item_widget %}
{% spaceless %}
    <tr>
    {% set fieldNum = 1 %}
    {% for row in prototype %}
        <td class="field{{ fieldNum }}">
        {{ form_widget(row, attr) }}
        {{ form_errors(row) }}
        </td>
        {% set fieldNum = fieldNum + 1 %}
    {% endfor %}
    </tr>
{% endspaceless %}
{% endblock collection_item_widget %}