{% extends 'SlxMetronicBundle::public_portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}

{% block page_title %}{{ 'users.general.profile'|trans }}{% endblock %}

{% block portletTools %}
    <li><a href="{{ path('fos_user_profile_edit') }}" ><i class="fa fa-table"></i>{{ 'slx_metronic.general.edit'|trans }}</a></li>
{% endblock portletTools %}
{% set caption = 'slx_metronic.general.view'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block portlet_body -%}
    <div class="form-horizontal form-view">
        <div class="form-body">
            {{ metronic.formViewRow('users.user.username'|trans, user.username) }}
            {{ metronic.formViewRow('users.user.email'|trans, user.email) }}
            {{ metronic.formViewRow('users.user.first_name'|trans, user.firstName) }}
            {{ metronic.formViewRow('users.user.last_name'|trans, user.lastName) }}
            {{ metronic.formViewRow('users.user.phone'|trans, user.phone) }}

        </div>
    </div>
{% endblock portlet_body %}