/* here you can put your own css to customize and override the theme */

/* ------------------------------------------------------------------- 
   fine tune form elements
 */
 
.mt-checkbox-inline label.required {
	color: #333;
}
.radio-inline.required, .radio label.required,.checkbox, .form-horizontal .checkbox {
	padding-left: 20px;
	color: #333;
	font-size: 14px;
}
 .checkbox label.required {
	
	font-size: 14px; 	
 }
 
.control-label .required, .form-group .required {
	font-size: 14px; 	
	padding-left: 30px;
}

.mt-checkbox-inline .mt-checkbox,
.mt-checkbox-inline .mt-radio,
.mt-radio-inline .mt-checkbox,
.mt-radio-inline .mt-radio {
	margin-bottom: 0px;
}
.radio-inline.required,
.radio label.required,
.checkbox,
.form-horizontal .checkbox,
.form-horizontal .mt-radio,
.form-horizontal .radio label {
	padding-left: 30px;
}
.mt-checkbox, .mt-radio {
	margin-bottom: 7px;
}

/* ------------------------------------------------------------------- 
   Collection edit css
 */

 .form .form-section, .portlet-form .form-section {
    margin: 30px 0px 15px 0px;
    
 }
 
.collection {
  padding-bottom: 5px;
}

.collection .remove {

}

.collection .add i {
  
}

.collection thead th {
    padding: 5px;
    border-bottom: 1px solid #e7ecf1;
}
.collection tbody td {
    padding: 5px;
}

.collection .collection-actions {
    padding: 5px;
}

/* ------------------------------------------------------------------- 
   Modal confirm popup css
 */
 
.bootbox-body .message {
    font-size: 14px;
}


.login .content .form-actions {
    border-style: none;
}

.help-block {
    font-size: 90%;
}
.form-control.disabled {
    background-color: #eef1f5;
    opacity: 1;
}

ul.sortable { list-style-type: none; margin: 0; padding: 0; width: 98%; }
ul.sortable li { margin: 0px 3px 3px 3px; padding: 0.4em; padding-left: 1.5em;  cursor: move; }
ul.sortable li span { position: absolute; margin-left: -1.3em; }
