{% macro chartJscripts() %}
    <script src="{{ asset('bundles/slxmetronic/global/plugins/flot/jquery.flot.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/slxmetronic/global/plugins/flot/jquery.flot.resize.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/slxmetronic/global/plugins/flot/jquery.flot.pie.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/slxmetronic/global/plugins/flot/jquery.flot.stack.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/slxmetronic/global/plugins/flot/jquery.flot.categories.js') }}" type="text/javascript"></script>
{% endmacro %}

{% macro chartBar(report, containerID) %}
    var d1=[];
    {% for k,v in report.data %}
        d1.push(["{{ k }}", {{ v }}]);
    {% endfor %}
    var data = [];
    data.push(d1);
    $.plot($("#{{ containerID }}"), data, {
        canvas: true,
        series: {
            stack: 0,
            lines: {
                show: false,
                fill: true,
                steps: false
            },
            bars: {
                show: true,
                barWidth: 0.6
            }
        },
        xaxis: {
            mode: "categories"
        },
        yaxis: {}
    });
{% endmacro %}

{% macro chartPie(report, containerID) %}
    var data = [];
    var d1 = [];
    {% for k,v in report.data %}
        d1.push({ "label": "{{ k }}",  "data":{{ v }} });
    {% endfor %}
    data.push(d1);
    $.plot('#{{ containerID }}', d1, {
        series: {
            pie: {
                show: true
            }
        }
    });
{% endmacro %}