{% extends 'AppBundle:Article:blog_post_page.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}
{% import '@App/BasicStats/chart_macros.html.twig' as cmacros %}
{% block page_title %}Statistics{% endblock %}

{% if report.type=="bars" %}
    {% set fcolor="font-yellow" %}
    {% set ticon="fa-bar-chart" %}
{% else %}
    {% set fcolor="font-green" %}
    {% set ticon="fa-pie-chart" %}
{% endif %}
{% set placeholderId = "placeholder-" ~ report.id %}

{%  set caption %}
    <i class="fa {{ ticon }} {{ fcolor }}"></i> {{ report.title }}
{% endset %}
{% block blogpost %}
        <div class="cchart" style="height: 300px;" id="{{ placeholderId }}"></div>
{% endblock %}
{% block sidebar %}
    <div class="blog-single-sidebar-recent">
        <h4 class="blog-sidebar-title uppercase"><i class="fa fa-bar-chart"></i> Reports</h4>
        <ul>
            {%  for d,dd in report_list %}
                <li><a href="{{ path('basic_stats', {'rKey': d}) }}">{{ dd }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
{% block javascripts %}
   {{ parent() }}
    {{ cmacros.chartJscripts() }}

    <script>
        $(document).ready(function() {
            {% set placeholderId = "placeholder-" ~ report.id %}
            {% if report.type=="bars" %}
                {{ cmacros.chartBar(report, placeholderId) }}
            {% else %}
                {{ cmacros.chartPie(report, placeholderId) }}
            {% endif %}
        });
    </script>
{% endblock %}