{% extends "SlxMetronicBundle::admin.html.twig" %}

{% block page_title %}{{ "slx_metronic.general.home"|trans }}{% endblock %}

{% block maincontent %}
  <div class="note note-info">
      {{ "donald.home.welcome_message"|trans|raw }}
  </div>

{% endblock %}
