{# BEGIN GLOBAL MANDATORY STYLES #}
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/slxmetronic/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/slxmetronic/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/slxmetronic/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/slxmetronic/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css" />
{# END GLOBAL MANDATORY STYLES #}

<link href="{{ asset('bundles/slxmetronic/global/plugins/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/slxmetronic/global/plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/slxmetronic/global/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />

<link href="{{ asset('bundles/slxmetronic/global/plugins/datatables/datatables.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/slxmetronic/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}" rel="stylesheet" type="text/css" />

{# BEGIN THEME GLOBAL STYLES #}
<link href="{{ asset('bundles/slxmetronic/global/css/components-rounded.css') }}" rel="stylesheet" id="style_components" type="text/css" />
<link href="{{ asset('bundles/slxmetronic/global/css/plugins.min.css') }}" rel="stylesheet" type="text/css" />
{# END THEME GLOBAL STYLES #}

{# BEGIN THEME LAYOUT STYLES #}
<link href="{{ asset('bundles/slxmetronic/layouts/layout/css/layout.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/slxmetronic/layouts/layout/css/themes/' ~ color_theme ~ '.min.css') }}" rel="stylesheet" type="text/css" id="style_color" />
<link href="{{ asset('bundles/slxmetronic/layouts/layout/css/custom.css') }}" rel="stylesheet" type="text/css" />
{# END THEME LAYOUT STYLES #}

{% block stylesheets %} 
{% endblock stylesheets %}