<div class="top-menu">
    <ul class="nav navbar-nav pull-right">
        <li class="dropdown dropdown-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <img alt="{{ app.user.getUsername() }}" class="img-circle" src="{{ gravatar(app.user.getEmail()) }}" />
                <span class="username username-hide-on-mobile"> {{ app.user.getUsername() }} </span>
                <i class="fa fa-angle-down"></i>
            </a>
            {% set menu = knp_menu_get('user', [], {include_homepage: false}) %}
            <ul class="dropdown-menu dropdown-menu-default">
                {{ knp_menu_render(menu, {
                    leaf_class: 'dummy',
                    ancestorClass: '',
                    currentAncestorClass: '',
                    firstClass: '',
                    lastClass: '',
                    currentClass: '',
                    branch_class: '',
                    template: 'SlxMetronicBundle:Components:knp_public_menu.html.twig'
                }) }}
            </ul>

        </li>
        <li class="dropdown dropdown-quick-sidebar-toggler">
            <a href="{{ path('fos_user_security_logout') }}" class="dropdown-toggle">
                <i class="icon-logout"></i>
            </a>
        </li>
    </ul>
</div>
