<!-- BEGIN LOGO -->
<div class="page-logo">
    <a href="{{ path('slx_metronic_homepage') }}">
        <img src="{{ asset('bundles/slxmetronic/img/alogo.png') }}" alt="logo" class="logo-default" />
    </a>
    <div class="menu-toggler sidebar-toggler">
        <span></span>
    </div>
</div>
<!-- END LOGO -->
