
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    {# BEGIN HEAD #}

    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{{ app_title }}{% endblock %} | {% block page_title %}Blank Page{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        
        {% include 'SlxMetronicBundle::admin_styles.html.twig' %}
        <link rel="shortcut icon" href="{{  asset('favicon.ico') }}"/>
    </head>
    {# END HEAD #}

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <div class="page-wrapper">
            {# BEGIN HEADER #}
            <div class="page-header navbar navbar-fixed-top">
                {# BEGIN HEADER INNER #}
                <div class="page-header-inner ">
                    {% include 'SlxMetronicBundle::admin_header.html.twig' %}
                    {# BEGIN RESPONSIVE MENU TOGGLER #}
                    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                        <span></span>
                    </a>
                    {# END RESPONSIVE MENU TOGGLER #}
                    {% include 'SlxMetronicBundle::admin_top_nav.html.twig' %}
                </div>
                {# END HEADER INNER #}
            </div>
            {# END HEADER #}
            {# BEGIN HEADER & CONTENT DIVIDER #}
            <div class="clearfix"> </div>
            {# END HEADER & CONTENT DIVIDER #}
            {# BEGIN CONTAINER #}
            <div class="page-container">
                {# BEGIN SIDEBAR #}
                <div class="page-sidebar-wrapper">
                    {# BEGIN SIDEBAR #}
                    {# DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing #}
                    {# DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed #}
                    <div class="page-sidebar navbar-collapse collapse">
                        {# BEGIN SIDEBAR MENU #}
                        {# DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) #}
                        {# DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode #}
                        {# DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode #}
                        {# DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing #}
                        {# DOC: Set data-keep-expand="true" to keep the submenues expanded #}
                        {# DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed #}
                        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                            {# DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element #}
                            {# BEGIN SIDEBAR TOGGLER BUTTON #}
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                            {# END SIDEBAR TOGGLER BUTTON #}
                            {% include 'SlxMetronicBundle::admin_side_nav.html.twig' %}
                        </ul>
                        {# END SIDEBAR MENU #}
                        {# END SIDEBAR MENU #}
                    </div>
                    {# END SIDEBAR #}
                </div>
                {# END SIDEBAR #}
                {# BEGIN CONTENT #}
                <div class="page-content-wrapper">
                    {# BEGIN CONTENT BODY #}
                    <div class="page-content">
                        {# BEGIN PAGE HEADER#}

                        {# BEGIN PAGE BAR #}
                        <div class="page-bar">
                            {% include 'SlxMetronicBundle::admin_breadcrumb.html.twig' %}
                            {# include 'SlxMetronicBundle::admin_pagetoolbar.html.twig' #}
                        </div>
                        {# END PAGE BAR #}
                        {# BEGIN PAGE TITLE#}
                        <h1 class="page-title"> {{ block('page_title') }} </h1>
                        {# END PAGE TITLE#}
                        {# END PAGE HEADER#}
                        {% include 'SlxMetronicBundle::flashMessages.html.twig' %}
                        {% block maincontent %}{% endblock %}
                    </div>
                    {# END CONTENT BODY #}
                </div>
                {# END CONTENT #}
            </div>
            {# END CONTAINER #}
            {# BEGIN FOOTER #}
            <div class="page-footer">
                {% include 'SlxMetronicBundle::admin_footer.html.twig' %}
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
            {# END FOOTER #}
        </div>
        {% include 'SlxMetronicBundle::admin_scripts.html.twig' %}
        {% block javascripts %}
        {% endblock javascripts %}
    </body>
</html>