{% set menu = knp_menu_get('main', [], {include_homepage: false}) %}
{{ knp_menu_render(menu, {
    leaf_class: 'nav-item', 
    ancestorClass: 'nav-item', 
    currentAncestorClass: 'nav-item active', 
    firstClass: '', 
    lastClass: '', 
    currentClass: 'active open',
    branch_class: 'nav-item'
}) }}