{% set flashBag = app.session.getFlashBag() %}
{% for msg in flashBag.get('notice') %}
  <div class="alert alert-warning alert-dismissable">
    <button class="close" data-dismiss="alert"></button>
    <strong>Warning!</strong> {{ msg|trans }}
  </div>
{% endfor %}
{% set msgs = flashBag.get('success')|merge(flashBag.get('info')) %}
{% for msg in msgs %}
  <div class="alert alert-success alert-dismissable">
    <button class="close" data-dismiss="alert"></button>
    <strong>Success!</strong> {{ msg|trans }}
  </div>
{% endfor %}
{% for msg in flashBag.get('error') %}
<div class="alert alert-danger alert-dismissable">
  <button class="close" data-dismiss="alert"></button>
  <strong>Error!</strong> {{ msg|trans }}
</div>
{% endfor %}

