{% extends 'SlxMetronicBundle::admin.html.twig' %}
{% block maincontent -%}

    {% block filter_form %}
    {% endblock %}
{% if block('formActions') is defined %}
    {% set _blockFA = block('formActions') %}
    {%  else %}
    {%  set _blockFA = "" %}
{%  endif %}
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-{{ portletIcon|default('table') }} font-blue-sharp"></i>
                <span class="caption-subject font-blue-sharp bold">{{ caption|trans }}</span>
            </div>
            {% if block('portletTools') is defined %}
                {% set _block = block('portletTools') %}
            {% else %}
                {% set _block = "" %}
            {%  endif %}
            {% if _block is not empty %}
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-sm green dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false">
                            <i class="fa fa-gears"></i> <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            {{ block('portletTools') }}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="portlet-body {% if isForm is defined %}form{% endif %}">
            {% block portlet_body %}
                content goes here
            {% endblock portlet_body %}

            {% if _blockFA is not empty %}
                <div class="form-actions">
                    {{ _blockFA|raw }}
                </div>
            {% endif %}
            {% if form is defined %}
            {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
{% endblock maincontent %}


