
<!--[if lt IE 9]>
<script src="{{ asset('bundles/slxmetronic/global/plugins/respond.min.js') }}"></script>
<script src="{{ asset('bundles/slxmetronic/global/plugins/excanvas.min.js') }}"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="{{ asset('bundles/slxmetronic/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/slxmetronic/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/slxmetronic/global/plugins/js.cookie.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/slxmetronic/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/slxmetronic/global/plugins/jquery.blockui.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/slxmetronic/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/slxmetronic/global/plugins/bootbox/bootbox.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/slxmetronic/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js') }}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->

{# BEGIN PAGE LEVEL PLUGINS #}
<script src="{{ asset('bundles/slxmetronic/global/plugins/select2/js/select2.full.min.js') }}" type="text/javascript"></script>
{# END PAGE LEVEL PLUGINS #}

<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="{{ asset('bundles/slxmetronic/global/scripts/app.min.js') }}" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="{{ asset('bundles/slxmetronic/layouts/layout3/scripts/layout.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/slxmetronic/layouts/layout3/scripts/demo.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/slxmetronic/layouts/global/scripts/quick-sidebar.min.js') }}" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->


<script type="text/javascript">
    var SlxMetronic = {};

    (function (core) {
        $.extend(core, {
            trans : {
                ok: "{{ 'slx_metronic.general.ok'|trans }}",
                cancel: "{{ 'slx_metronic.general.cancel'|trans }}",
                confirm: "{{ 'slx_metronic.general.confirm'|trans }}",
                pleaseselect: "{{ 'slx_metronic.general.pleaseselect'|trans }}"
            }
        });
    }(SlxMetronic));

</script>
<script src="{{ asset('bundles/slxmetronic/js/slx_metronic.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/slxadminlist/js/slxBatchHandle.js') }}" type="text/javascript"></script>


