<div class="col-md-6 col-sm-6 col-xs-12 footer-block">
    <h2>About</h2>
    <p>
        Annotated Bibliography of Technical Debt site is an effort of our laboratory to annotate bibliography
        of technical debt from reader's perspective, give a personal/human notation/comment.<br />
        Our goal is to share and build a community of TD scholars.
    </p>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 footer-block">
    <h2>Links</h2>
    <p>

        <a href="http://se.uom.gr/" target="_blank"><i class="fa fa-flask"></i> SE@UoM</a><br/>
        <a href="https://bitbucket.org/pbkyriak/abtd-mk1" target="_blank"><i class="fa fa-bitbucket"></i> Repository</a><br/>
        <a href="https://bitbucket.org/pbkyriak/abtd-mk1/issues?status=new&status=open" target="_blank"><i class="fa fa-bitbucket"></i> Issue tracker</a>
    </p>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 footer-block">
    <h2>Contacts</h2>
    <address class="margin-bottom-40">
        Software  Engineering Laboratory<br />
        Department of Applied Informatics<br />
        University of Macedonia <br />
        156 Egntatia St, GR54046,<br />
        Thessaloniki, Greece <br />
        webmaster: Panos Kyriakakis <br />
        Email: <a href="mailto:pkyriakakis@uom.edu.gr">pkyriakakis@uom.edu.gr</a>
    </address>
</div>