<!-- BEGIN FOOTER -->
<!-- BEGIN PRE-FOOTER -->
<div class="page-prefooter">
    <div class="container">
        <div class="row">
            {% include 'SlxMetronicBundle::public_footer_content.html.twig' %}
        </div>
    </div>
</div>
<div class="page-footer">
    <div class="container">
        {% block footer_copyright %}{{ app_title}} &copy;{{ app_copyright }} <a href="{{ app_company_url }}">{{ app_company }}</a>{% endblock %}
    </div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END INNER FOOTER -->
<!-- END FOOTER -->