{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{{ app_title }}{% endblock %} | {% block page_title %}Blank Page{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    {% include 'SlxMetronicBundle::public_styles.html.twig' %}
    <link rel="shortcut icon" href="{{  asset('favicon.ico') }}"/>
</head>

<body class="page-container-bg-solid">
    <div class="page-wrapper">
        <div class="page-wrapper-row">
            <div class="page-wrapper-top">
                <!-- BEGIN HEADER -->
                <div class="page-header">
                    <div class="page-header-top">
                        {% include 'SlxMetronicBundle::public_header.html.twig' %}
                    </div>
                    <div class="page-header-menu">
                        <div class="container">

                            <div class="hor-menu">
                                {% include 'SlxMetronicBundle::public_menu.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-wrapper-row full-height">
            <div class="page-wrapper-middle">
                <!-- BEGIN CONTAINER -->
                <div class="page-container">
                    <!-- BEGIN CONTENT -->
                    <div class="page-content-wrapper">
                        <!-- BEGIN CONTENT BODY -->
                        <!-- BEGIN PAGE HEAD-->
                        <div class="page-head">
                            <div class="container">
                                <!-- BEGIN PAGE TITLE -->
                                <div class="page-title">
                                    <h1> {{ block('page_title') }} </h1>
                                </div>
                                <!-- END PAGE TITLE -->

                            </div>
                        </div>
                        <!-- END PAGE HEAD-->
                        <!-- BEGIN PAGE CONTENT BODY -->
                        <div class="page-content">
                            <div class="container">
                                <!-- BEGIN PAGE BREADCRUMBS -->
                                <!-- END PAGE BREADCRUMBS -->
                                <!-- BEGIN PAGE CONTENT INNER -->
                                <div class="page-content-inner">
                                    <div class="blog-page blog-content-1">
                                        <!-- BEGIN PAGE BREADCRUMBS -->
                                        {% include 'SlxMetronicBundle::public_breadcrumb.html.twig' %}
                                        <!-- END PAGE BREADCRUMBS -->
                                        <!-- BEGIN PAGE CONTENT INNER -->
                                            {% include 'SlxMetronicBundle::flashMessages.html.twig' %}
                                            {% block maincontent %}{% endblock %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-wrapper-row">
            <div class="page-wrapper-bottom">
                {% include 'SlxMetronicBundle::public_footer.html.twig' %}
            </div>
        </div>
    </div>
    {% include 'SlxMetronicBundle::public_scripts.html.twig' %}
    {% block javascripts %}
    {% endblock javascripts %}
</body>

</html>