
{% set menu = knp_menu_get('public', [], {include_homepage: false}) %}
<ul class="nav navbar-nav">
{{ knp_menu_render(menu, {
    leaf_class: 'dummy',
    ancestorClass: 'menu-dropdown classic-menu-dropdown',
    currentAncestorClass: 'nav-item active',
    firstClass: '',
    lastClass: '',
    currentClass: 'active open',
    branch_class: 'menu-dropdown classic-menu-dropdown',
    template: 'SlxMetronicBundle:Components:knp_public_menu.html.twig'
}) }}
</ul>
