<div class="container">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a href="{{ path('home_page') }}">
            <img src="{{ asset('bundles/slxmetronic/img/logo.png') }}" alt="logo" class="logo-default" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler"></a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            {% if is_granted('ROLE_USER') %}
                {% include 'SlxMetronicBundle::public_header_user_dropdown.html.twig' %}
            {% else %}
                <li><a href="{{ path("fos_user_security_login") }}" >Login</a></li>
                <li><a href="{{ path("fos_user_registration_register") }}" >Register</a></li>
            {% endif %}
        </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
</div>
