{% extends 'SlxMetronicBundle::public.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}

{% trans_default_domain 'FOSUserBundle' %}

{% block page_title %}Home{% endblock %}

{% block maincontent %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock maincontent  %}
