{% extends 'SlxMetronicBundle::public_portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}

{% set pageCaption='users.general.register' %}
{% block page_title %}{{ "users.general.register"|trans }}{% endblock %}

{% set caption = pageCaption %}
{% set isForm = true %}
{% set portletIcon = 'pencil' %}

{% block formActions %}
    {{ form_widget(form.save) }}
{% endblock %}

{% block portlet_body -%}
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="form-body">
    {{ form_widget(form) }}
    </div>
{% endblock portlet_body %}
