{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}

{% if entity.id %}
    {% set formAction = path('users_manage_edit', { 'id': entity.id }) %}
    {% set pageCaption = 'slx_metronic.general.edit'|trans %}
{%  else %}
    {% set formAction = path('users_manage_create') %}
    {% set pageCaption = 'slx_metronic.general.add'|trans %}
{% endif %}
{% block page_title %}{{ "article"|trans }}{% endblock %}
{% block portletTools %}
    <li class="divider"></li>
    <li><a href="{{ path('users_manage') }}" ><i class="fa fa-table"></i>{{ 'slx_metronic.general.list'|trans }}</a></li>
{% endblock portletTools %}

{% set caption = pageCaption %}
{% set isForm = true %}
{% set portletIcon = 'pencil' %}

{% block formActions %}
    {{ form_widget(form.save) }}
{% endblock %}

{% block portlet_body -%}

    {{ form_start(form,{'action': formAction}) }}
    <input type="hidden" name="_method" value="POST" />
    <div class="form-body">
        {{ form_widget(form) }}
    </div>
{% endblock portlet_body %}
