{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}


{% block page_title %}{{ 'users.user.users'|trans }}{% endblock %}

{% set caption = 'users.general.list'|trans %}

{% block portletTools %}
    <li><a href="{{ path('users_manage_create') }}" ><i class="fa fa-plus"></i> {{ 'slx_metronic.general.add'|trans }}</a></li>
{% endblock portletTools %}


{% block filter_form %}
    {% if filterForm is defined %}
        {{ metronic.portletPre('slx_metronic.general.filter', 'yellow', 'form', 'filter') }}
        <form action="{{ path('users_manage') }}" class="form-horizontal" method="GET">
            <div class="form-body">
                {{ form_widget(filterForm) }}
            </div>
            <div class="form-actions">
                {{ metronic.button('slx_metronic.general.apply', 'submit', 'blue', 'ok') }}
            </div>
        </form>
        {{ metronic.portletPost() }}
    {% endif %}
{% endblock %}


{% block portlet_body -%}

    {{ metronic.dataTablePre() }}
    <thead>
    <tr>
        {{ metronic.dataTableTh('slx_metronic.general.id', pagination, 'a.id') }}
        {{ metronic.dataTableTh('users.user.username', pagination, 'a.username') }}
        {{ metronic.dataTableTh('users.user.email', pagination, 'a.email') }}
        {{ metronic.dataTableTh('users.user.active', pagination, 'a.isEnabled') }}
        {{ metronic.dataTableTh('slx_metronic.general.actions') }}
    </tr>
    </thead>
    <tbody>
    {% for entity in pagination %}
        <tr class="odd gradeX">
            <td><a href="{{ path('users_manage', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.username }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.isEnabled|boolToText|trans }}</td>
            <td>
                {% set itmActions %}
                    <li><a href="{{ path('users_manage_show', { 'id': entity.id }) }}">{{ 'slx_metronic.general.view'|trans }}</a></li>
                    <li><a href="{{ path('users_manage_edit', { 'id': entity.id }) }}">{{ 'slx_metronic.general.edit'|trans }}</a></li>
                {% endset %}
                {{ metronic.dataTableActionsDropDown(itmActions) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    {{ metronic.dataTablePost(pagination) }}
{% endblock %}
