{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}

{% block page_title %}User{% endblock %}

{% block portletTools %}
    <li><a href="{{ path('users_manage_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i> {{ 'slx_metronic.general.edit'|trans }}</a></li>
    <li><a href="{{ url('users_manage', { 'id': entity.id }) }}"
           class="modal-confirm"
           data-confirm-message="{{'slx_metronic.general.record_will_be_deleted'|trans}}"><i class="fa fa-trash-o"></i> {{ 'slx_metronic.general.delete'|trans }}</a></li>
    <li class="divider"></li>
    <li><a href="{{ path('users_manage') }}" ><i class="fa fa-table"></i>{{ 'slx_metronic.general.list'|trans }}</a></li>

{% endblock portletTools %}
{% set caption = 'slx_metronic.general.view'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block portlet_body -%}
    <div class="form-horizontal form-view">
        <div class="form-body">
            {{ metronic.formViewRow('slx_metronic.general.id'|trans, entity.id) }}
            {{ metronic.formViewRow('users.user.username'|trans, entity.username) }}
            {{ metronic.formViewRow('users.user.email'|trans, entity.email) }}
            {{ metronic.formViewRow('users.user.active'|trans, entity.isEnabled|boolToText|trans) }}
            {% set roleslist %}
                {% for r in entity.getRoles %}{{ r }}{% if not loop.last %}, {%  endif %}{% endfor %}
            {% endset %}
            {{ metronic.formViewRow('users.user.roles'|trans, roleslist) }}
            {{ metronic.formViewRow('users.user.first_name'|trans, entity.firstName) }}
            {{ metronic.formViewRow('users.user.last_name'|trans, entity.lastName) }}
            {{ metronic.formViewRow('users.user.phone'|trans, entity.phone) }}
            {{ metronic.dataTablePost() }}
        </div>
    </div>
{% endblock portlet_body %}
