{% extends 'SlxMetronicBundle::public_portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}

{% set pageCaption='users.general.change_password' %}
{% block page_title %}{{ "users.general.change_password"|trans }}{% endblock %}

{% set caption = pageCaption %}
{% set isForm = true %}
{% set portletIcon = 'pencil' %}

{% block formActions %}
    {{ form_widget(form.save) }}
    <a class="btn" href="{{ path('fos_user_profile_show') }}">{{ 'slx_metronic.general.cancel'|trans }}</a>
{% endblock %}

{% block portlet_body -%}
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <div class="form-body">
        {{ form_widget(form) }}
    </div>
{% endblock portlet_body %}
