{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}

{% block page_title %}{{ "app.questions.questions"|trans }}{% endblock %}
{% set caption = 'slx_metronic.general.list'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block filter_form %}
    {% if filterForm is defined %}
        {{ metronic.portletPre('slx_metronic.general.filter', 'yellow', 'form', 'filter') }}
        <form action="{{ path('slx_positionaction_index') }}" class="form-horizontal" method="GET">
            <div class="form-body">
                {{ form_widget(filterForm) }}
            </div>
            <div class="form-actions">
                {{ metronic.button('slx_metronic.general.apply', 'submit', 'blue', 'ok') }}
            </div>
        </form>
        {{ metronic.portletPost() }}
    {% endif %}
{% endblock %}

{% block portletTools %}
    {% for qt in questionTypes() %}
    <li><a href="{{ path('questions_new', { 'type': qt }) }}" ><i class="fa fa-plus"></i> {{ ('app.questions.add_type_'~qt)|trans }}</a></li>
    {% endfor %}
    <li><a data-toggle="modal" href="#reorderDyeSteps"><i class="fa fa-reorder"></i> {{ 'app.questions.reorder'|trans }}</a></li>

{% endblock portletTools %}

{% block portlet_body -%}

    {% if pagination %}
        {{ metronic.dataTablePre() }}
        <thead>
        <tr>
            {{ metronic.dataTableTh('app.questions.id', pagination, 'a.id') }}
            {{ metronic.dataTableTh('app.questions.question', pagination, 'a.question') }}
            {{ metronic.dataTableTh('app.questions.type', pagination) }}
            {{ metronic.dataTableTh('app.questions.active', pagination, 'a.active') }}
            {{ metronic.dataTableTh('slx_metronic.general.actions') }}
        </tr>
        </thead>
        <tbody>
        {% for p in pagination %}
            <tr class="odd gradeX">
                <td>{{ p.id }}</td>
                <td>{{ p.question }}</td>
                <td>{{ p|qtypeToText|trans }}</td>
                <td>{{ p.active|boolToText|trans }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="true">
                            <i class="fa fa-gear"></i> <i class="fa fa-angle-down"> </i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('questions_update', { 'id': p.id }) }}">{{ 'slx_metronic.general.edit'|trans }}</a></li>
                            <li><a href="{{ path('questions_delete', { 'id': p.id }) }}"
                                   class="modal-confirm"
                                   data-confirm-message="{{'slx_metronic.general.record_will_be_deleted'|trans}}"
                                >{{ 'slx_metronic.general.delete'|trans }}</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {{ metronic.dataTablePost(pagination) }}
    {% else %}
        <p>{{ "donald.shop.no_products"|trans }}</p>
    {% endif %}

    <!-- reorder dyeSteps modal -->
    {{ metronic.modalPre('reorderDyeSteps', 'app.questions.reorder'| trans) }}
    <ul id="ds_sortable" class="sortable">
        {% for q in reorderQs %}
        <li  id="item_{{ q.id }}" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{ q.question }}</li>
        {% endfor %}
    </ul>
    {{ metronic.modalMid() }}
    <button type="button" data-dismiss="modal" class="btn">{{ 'app.general.cancel'|trans }}</button>
    <button type="button" class="btn blue" id="submitreorderDyeSteps">{{ 'app.general.apply'|trans }}</button>
    {{ metronic.modalPost() }}
    <!-- end of reorder dyeSteps modal -->

{% endblock portlet_body %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" >
        jQuery(document).ready(function() {

            $("#ds_sortable").sortable();
            $("#ds_sortable").disableSelection();

            $('#reorderDyeSteps #submitreorderDyeSteps').click(function() {
                window.location = "{{ path('questions_reorder') }}?item_order_str=" + $('#ds_sortable').sortable("toArray");
            });

        });

    </script>
{% endblock javascripts %}