{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}
{% import '@App/Article/article_macros.html.twig' as amacros %}

{% set review = article.review %}
{% if review %}
    <h4 class="sbold">{{ 'app.article.review'|trans }}</h4>
    <p>{{ review.reviewText|md2html }}</p>
    <dl class="dl-horizontal single-article-review">
        {% for q in review.questions %}
            {% if not q.getNotApply %}
                <dt>{{ q.question.question }}</dt>
                <dd>{{ renderQuestionAnswer(q) }}</dd>
            {% endif %}
        {% endfor %}
    </dl>

{% endif %}

