{% import '@App/Article/article_macros.html.twig' as amacros %}

<div class="blog-comments">
    <h3 class="sbold blog-comments-title">{{ "app.article.comments"|trans }}{% if comments|length %} ({{ comments|length }}){% endif %}</h3>
    {% if comments|length %}
    <div class="c-comment-list">
        {% for comment in comments %}
        {{ amacros.renderComment(comment) }}
        {% endfor %}
    </div>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ render(controller('AppBundle:ArticleComment:commentForm', {'articleId': article.id})) }}
    {% else %}
        <p>
            <a class="btn btn-success" href="{{ path('fos_user_security_login', {'redirect_to': app.request.pathInfo}) }}">
                <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'users.general.login'|trans }}
            </a>
            {{ 'app.article.login_to_publish_a_comment'|trans }}
        </p>
    {% endif %}

</div>