{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}
{% import '@App/Article/article_macros.html.twig' as amacros %}

<dl class="dl-horizontal single-article-info">
    <dt>{{ 'app.article.article_type'|trans }}</dt>
    <dd>{{ ('app.article.type_' ~ article.articleType)|trans }}</dd>
    <dt>{{ 'app.article.title'|trans }}</dt>
    <dd>{{ article.title }}</dd>
    <dt>{{ 'app.article.authors'|trans }}</dt>
    <dd>{{ amacros.renderArticleAuthors(article.authors) }}</dd>
    {%  if article.publishDate %}
        <dt>{{ 'app.article.year'|trans }}</dt>
        <dd>{{ article.publishDate }}</dd>
    {% endif %}
    {%  if article.doi %}
        <dt>{{ 'app.article.doi'|trans }}</dt>
        <dd>{{ article.doi }}</dd>
    {% endif %}
    {%  if article.url %}
        <dt>{{ 'app.article.url'|trans }}</dt>
        <dd>{{ article.url }}</dd>
    {% endif %}
    {%  if article.publisher %}
        <dt>{{ 'app.article.publisher'|trans }}</dt>
        <dd>{{ article.publisher.title }}</dd>
    {% endif %}
    {%  if article.journal %}
        <dt>{{ 'app.article.journal'|trans }}</dt>
        <dd>{{ article.journal.title }}</dd>
    {% endif %}
</dl>
