
{% if block('portletTools') is defined %}
    {% set _block = block('portletTools') %}
{% else %}
    {% set _block = "" %}
{% endif %}
{% if _block is not empty %}
    <div class="blog-single-sidebar-recent">
        <h4 class="blog-sidebar-title uppercase"><i class="fa fa-gears"></i> Editor actions</h4>
        <ul>
            {{ block('portletTools') }}
        </ul>
    </div>
{% endif %}