
{% macro renderArticleTags(keywords, style) %}
    {% if keywords is not empty %}
        {% if style=='side' %}
        <div class="blog-single-sidebar-tags">
            <h3 class="blog-sidebar-title uppercase">article tags</h3>
            {% endif %}
            <ul class="blog-post-tags">
            {% for k in keywords %}
                <li class="uppercase">
                    <a href="{{ path('articles', {"fltreview[keyword_id]": k.id}) }}">{{ k.title }}</a>
                </li>
            {% endfor %}
            </ul>
        {% if style=='side' %}
        </div>
        {% endif %}
    {% endif %}

{% endmacro %}

{% macro renderArticleAuthors(authors) %}
    {% for a in authors %}
        <a href="{{ path('articles', {"fltreview[author_id]": a.author.id}) }}">{{ a.author.family }} {{ a.author.given }} <span class="badge badge-default">{{ a.author.articleCount }}</span></a>{% if not loop.last %}, {% endif %}
    {%  endfor %}
{% endmacro %}

{% macro renderAnnotatedTags(questions, style) %}
    {% set tags = [] %}
    {% for q in questions %}
        {% if not q.getNotApply %}
            {% set tags = tags|merge(getIfMultipleQuestionAnswers(q)) %}
        {% endif %}
    {% endfor %}
    {% if tags is not empty %}
        {% if style=='side' %}
        <div class="blog-single-sidebar-tags">
        <h3 class="blog-sidebar-title uppercase">annotation tags</h3>
        {% endif %}
            <ul class="blog-post-tags">
                {% for t in tags %}
                <li class="uppercase">
                    <a href="{{ path('articles', t.qid ) }}">{{ t.title }}</a>
                </li>
                {% endfor %}
            </ul>
        {% if style=='side' %}
        </div>
        {% endif %}
    {%  endif %}
{% endmacro %}

{% macro renderComment(comment) %}
    <div class="media">
        <div class="media-left">
            <a id="comment_{{ comment.id }}"><img alt="{{ comment.commenter.getUsername() }}" class="img-circle" src="{{ gravatar(comment.commenter.getEmail()) }}" /></a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <a href="#">{{ comment.commenter.firstName }} {{ comment.commenter.lastName }}</a> on <span class="c-date">{{ comment.createdAt|date('d M Y H:i') }}</span>
            </h4>
            {{ comment.commentText }}
            {% if is_granted("edit", comment) %}
                <a href="{{ path('article_comment_update', {'articleId': comment.article.id, 'commentId': comment.id}) }}" class="btn">Edit</a>
            {% endif %}
            {% if is_granted("delete", comment) %}
                <a href="{{ path('article_comment_remove', {'articleId': comment.article.id, 'commentId': comment.id}) }}"
                   class="modal-confirm btn"
                   data-confirm-message="{{'app.article.comment_will_be_removed'|trans}}"
                   >{{ 'app.article.remove_comment'|trans }}</a>
            {% endif %}
        </div>
    </div>
{% endmacro %}