{% extends 'AppBundle:Article:blog_page.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}

{% block blogcontent %}
    <div class="blog-single-content bordered blog-container">
        <div class="blog-single-head">
            <h1 class="blog-single-head-title">{{ caption }}</h1>
        </div>
        {% block blogpost %}{% endblock %}
    </div>
{% endblock blogcontent %}
