{% extends 'SlxMetronicBundle::public.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}

{% block page_title %}{{ caption }}{% endblock %}
{% block portletTools %}{% endblock %}

{% block maincontent %}
    <div class="blog-page blog-content-2">
        <div class="row">
            <div class="col-lg-8">
                {% block blogcontent %}{% endblock %}
            </div>
            <div class="col-lg-4">
                <div class="blog-single-sidebar bordered blog-container">

                    {% if block('portletTools') is defined %}
                        {% set _block = block('portletTools') %}
                    {% else %}
                        {% set _block = "" %}
                    {% endif %}
                    {% if _block is not empty %}
                        <div class="blog-single-sidebar-recent">
                            <h4 class="blog-sidebar-title uppercase"><i class="fa fa-gears"></i> Editor actions</h4>
                            <ul>
                                {{ block('portletTools') }}
                            </ul>
                        </div>
                    {% endif %}

                    {% block sidebar %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock maincontent %}

