{% extends 'AppBundle:Article:blog_page.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}

{% block page_title %}{{ caption }}{% endblock %}
{% block portletTools %}{% endblock %}

{% block blogcontent %}

{% endblock blogcontent %}
