{% extends 'SlxMetronicBundle::public_portletpage.html.twig' %}
{% form_theme form 'AppBundle:Form:collection.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}
{% import '@App/Article/article_macros.html.twig' as amacros %}

{% set formAction = path('review_create', {'article_id': article.id}) %}
{% if isNewReview %}
    {% set pageCaption = 'slx_metronic.general.edit'|trans %}
{% else %}
    {% set pageCaption = 'slx_metronic.general.add'|trans %}
{% endif %}
{% block page_title %}{{ "article"|trans }}{% endblock %}

{% set caption = pageCaption %}
{% set isForm = true %}
{% set portletIcon = 'pencil' %}

{% block formActions %}
    {{ form_widget(form.save) }}
{% endblock %}

{% block portlet_body -%}
    <h2>{{ article.title }}</h2>
    <h3>{{ amacros.renderArticleAuthors(article.authors) }}</h3>
    <h4>
        {% if article.publishDate %}Year: {{ article.publishDate }} {% endif %}
        {% if article.doi %}DOI: {{ article.doi }} {% endif %}
        {% if article.url %}URL: {{ article.url }} {% endif %}
        {% if article.publisher %}Publisher: {{ article.publisher.title }} {% endif %}
        {% if article.journal %}Journal: {{ article.journal.title }} {% endif %}
    </h4>
    {{ form_start(form,{'action': formAction}) }}
    <input type="hidden" name="_method" value="POST"/>
    <div class="form-body">
        {{ form_widget(form) }}
    </div>
{% endblock portlet_body %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            function switchInputField(chk) {
                var inp = chk.closest('td').next('td').find('.answer_input');
                var isSelect2 = false;
                if (inp.length != 0) {
                    if ($(inp).data('select2')) {
                        isSelect2 = true;
                    }
                    if (chk.is(':checked')) {
                        if(isSelect2) {
                            inp.prop("disabled", true);
                        }
                        else {
                            inp.removeAttr('required');
                            inp.addClass('disabled');
                        }
                    }
                    else {
                        if(isSelect2) {
                            inp.prop("disabled", false);
                        }
                        else {
                            inp.prop('required', true);
                            inp.removeClass('disabled');
                        }
                    }
                }
            }

            $(".cm-not-apply-switch").on('click', function (ev) {
                var chk = $(ev.target);
                switchInputField(chk);
            });

            $('.js-select-multi-tags').each(function (index, element) {
                var sel = $(element);
                var questionId = sel.data("question");
                sel.select2({
                    tags: true,
                    tokenSeparators: [',', ' '],
                    createTag: function (params) {
                        var term = $.trim(params.term);

                        if (term === '') {
                            return null;
                        }
                        console.log("send question new answer to server");
                        return {
                            id: "#CREATE#"+term,
                            text: term,
                            isNew: true // add additional parameters
                        }
                    }
                });
            });

            // set disabled field on load
            $(".cm-not-apply-switch").each(function(idx){
                console.log(this);
                switchInputField($(this));
            });

        });
    </script>
{% endblock javascripts %}
