{% extends 'SlxMetronicBundle::public_portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}

{% set formAction = path('article_create') %}
{% set pageCaption = 'slx_metronic.general.add'|trans %}

{% block page_title %}{{ "article"|trans }}{% endblock %}

{% set caption = pageCaption %}
{% set isForm = true %}
{% set portletIcon = 'pencil' %}

{% block formActions %}
    {{ form_widget(form.save) }}
{% endblock %}

{% block portlet_body -%}

    {{ form_start(form,{'action': formAction}) }}
    <input type="hidden" name="_method" value="POST" />
    <div class="form-body">
        {{ form_widget(form) }}
    </div>
{% endblock portlet_body %}
