{% extends 'AppBundle:Article:blog_roll_page.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}

{% block page_title %}{{ "app.article.articles"|trans }}{% endblock %}

{% block filter_form %}
    {% if filterForm is defined %}
        <h3 class="blog-sidebar-title uppercase">Annotated filters</h3>
        {% form_theme filterForm _self %}
        <form action="{{ path('articles') }}" class="form-horizontal" method="GET">
            <div class="form-body">
                {% for child in filterForm.children %}
                    {{ form_label(child) }}
                    {{ form_widget(child) }}
                {% endfor %}
            </div>
            <div class="form-actions">
                {{ metronic.button('slx_metronic.general.apply', 'submit', 'blue', 'ok') }}
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block form_label %}
    <label>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</label>
{% endblock form_label %}

{% block portletTools %}
    <li><a href="{{ path('article_create') }}" >{{ 'app.article.add_article'|trans }}</a></li>
{% endblock portletTools %}

{% block blogcontent -%}

    {% if pagination is not empty %}
        {% for article in pagination %}
            {%  include('AppBundle:Default:_article_list_item.html.twig') %}
        {%  endfor %}
        {% if pagination is not null %}
            {{ knp_pagination_render(pagination, 'SlxMetronicBundle:Components:metronic_pagination_short.html.twig') }}
        {% endif %}

    {% else %}
        <p>{{ "app.article.no_articles"|trans }}</p>
    {% endif %}

{% endblock blogcontent %}

{% block sidebar %}
    {{ parent() }}
    <div class="blog-single-sidebar-ui">
        <p>{{ "app.article.articles"|trans }}: {{ pagination.getTotalItemCount }}</p>
    </div>
    {{ block("filter_form") }}
{% endblock %}
