{% extends 'AppBundle:Article:blog_post_page.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}
{% import '@App/Article/article_macros.html.twig' as amacros %}

{% block page_title %}{{ article.title }}{% endblock %}

{% block portletTools %}
{% if is_granted("edit", article) %}
    <li><a href="{{ path('review_update', { 'article_id': article.id }) }}" >{{ 'app.general.edit'|trans }}</a></li>
    {% if article.status=="P" %}
    <li><a href="{{ path('article_unpublish', { 'article_id': article.id }) }}"
           class="modal-confirm"
           data-confirm-message="{{'app.article.article_will_be_unpublished'|trans}}"
        >{{ 'app.article.to_draft'|trans }}</a></li>
    {% elseif(article.canBePublished) %}
    <li><a href="{{ path('article_publish', { 'article_id': article.id }) }}" >{{ 'app.article.to_published'|trans }}</a></li>
    {% endif %}
    <li><a href="{{ path('article_delete', { 'article_id': article.id }) }}"
           class="modal-confirm"
           data-confirm-message="{{'slx_metronic.general.record_will_be_deleted'|trans}}"
        >{{ 'slx_metronic.general.delete'|trans }}</a></li>
{% endif %}
{% endblock portletTools %}

{% set caption %}
    {{ article.title }}
    {% if article.status is constant('STATUS_DRAFT', article) %}<span class="badge badge-warning">Draft</span>{% endif %}
{% endset %}
{% block blogpost %}
    <div class="blog-single-desc">
        {% include("AppBundle:Article:_article_info.html.twig") %}
        {% include("AppBundle:Article:_article_review.html.twig") %}
    </div>
    <div class="blog-single-foot">
        <div class="editor-info">
            <dl>
                <dt>{{ 'app.article.edited_by'|trans }}:</dt><dd>{{ article.owner.firstName }} {{ article.owner.lastName }},</dd>
                <dt>{{ 'app.general.created_at'|trans }}:</dt><dd>{{ article.createdAt|date('d M Y H:i') }}</dd>
                {% if article.updatedAt %}<dt>{{ 'app.general.updated_at'|trans }}:</dt><dd>{{ article.updatedAt|date('d M Y H:i') }}</dd>{% endif %}
            </dl>
        </div>
    </div>

    {% include("AppBundle:Article:_article_comments.html.twig") %}
{% endblock blogpost %}

{% block sidebar %}
    {{ parent() }}
    {% if article.review %}
        {{ amacros.renderAnnotatedTags(article.review.questions, "side") }}
    {% endif %}
    {{ amacros.renderArticleTags(article.getKeywords, "side") }}

{% endblock %}