<h3 class="sbold blog-comments-title">{{ "app.article.leave_comment"|trans }}</h3>

{{ form_start(commentForm, { 'action': path('article_comment_create', {'articleId': article.id}) }) }}
<div class="form-body">
    {{ form_widget(commentForm) }}
</div>
{{ form_rest(commentForm) }}