{% extends 'SlxMetronicBundle::public_portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}

{% if comment.id %}
    {% set formAction = path('article_comment_update', {'articleId': article.id, 'commentId': comment.id}) %}
    {% set pageCaption = 'app.article.comment_update'|trans %}
{%  else %}
    {% set formAction = path('article_comment_create', {'articleId': article.id}) %}
    {% set pageCaption = 'app.article.comment'|trans %}
{% endif %}


{% block page_title %}{{ "article"|trans }}{% endblock %}

{% set caption = pageCaption %}
{% set isForm = true %}
{% set portletIcon = 'pencil' %}

{% block formActions %}
{{ form_widget(form.save) }}
    <a href="{{ path('article_show', {'article_id': article.id}) }}" class="btn">Cancel</a>
{% endblock %}

{% block portlet_body -%}

{{ form_start(form,{'action': formAction}) }}
<input type="hidden" name="_method" value="POST" />
<div class="form-body">
    {{ form_widget(form) }}
</div>
{% endblock portlet_body %}
