{% if comments %}
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption"><span class="caption-subject font-green-steel bold uppercase">Latest comments</span></div>
        </div>
        <div class="portlet-body">
            <div class="general-item-list">
                {% for c in comments %}
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img alt="{{ c.commenter.getUsername() }}" class="item-pic rounded" src="{{ gravatar(c.commenter.getEmail()) }}" />
                                <span class="item-name primary-link">{{ c.commenter.firstName }} {{ c.commenter.lastName[:1] ~ '.' }}</span>
                                <span class="item-label">{{ c.createdAt|date('H:i M d, Y') }}</span>
                            </div>
                        </div>
                        <div class="item-body">
                            on "{{  c.article.title }}"
                            <a href="{{ path('article_show', {'article_id': c.article.id}) }}#comment_{{ c.id }}">Read</a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}