{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}

    
    {% block page_title %}{{ 'users.profile.profile'|trans }}{% endblock %}

{% set caption = 'slx_metronic.general.edit'|trans %}
{% set isForm = true %}
{% set portletIcon = 'pencil' %}

    {% block formActions %}
      {{ form_widget(form.save) }}
      {# metronic.abuttonBlue('slx_metronic.general.back_to_list', path('user')) #}
    {% endblock %}
            
    {% block portlet_body -%}
    
        {{ form_start(form, {'action': path('slx_user_profile_edit')} ) }}
        <input type="hidden" name="_method" value="POST" />
        <div class="form-body">
        {{ form_widget(form) }}
        </div>
    {% endblock portlet_body %}

