{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}


{% block page_title %}Change password{% endblock %}

{% set caption = 'users.user.change_password'|trans %}
{% set isForm = true %}
{% set portletIcon = 'pencil' %}

{% block formActions %}
  {{ form_widget(form.save) }}
  {% if( uid!=0 ) %}
  {{ metronic.abuttonBlue('users.general.cancel', path('user_show', {'id': uid})) }}
  {% else %}
  {{ metronic.abuttonBlue('users.general.cancel', path('slx_metronic_homepage')) }}
  {% endif %}
{% endblock %}

{% block portlet_body -%}
      {{ form_start(form,{'action': path('user_changePass', { 'id': uid })}) }}
      <div class="form-body">
        {{ form_widget(form) }}
      </div>
{% endblock portlet_body %}

