{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}

    
    {% block page_title %}User edit{% endblock %}
    {% block portletTools %}
        <li><a href="{{ url('user_delete', { 'id': entity.id }) }}" 
               class="modal-confirm" 
               confirm-message="{{'slx_metronic.general.record_will_be_deleted'|trans}}"><i class="fa fa-trash-o"></i> {{ 'slx_metronic.general.delete'|trans }}</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('user') }}" ><i class="fa fa-table"></i>{{ 'slx_metronic.general.list'|trans }}</a></li>
    {% endblock portletTools %}

{% set caption = 'slx_metronic.general.edit'|trans %}
{% set isForm = true %}
{% set portletIcon = 'pencil' %}

    {% block formActions %}
      {{ form_widget(form.save) }}
      {{ form_widget(form.saveAndAdd) }}
      {{ metronic.abuttonBlue('slx_metronic.general.back_to_list', path('user')) }}
    {% endblock %}
            
    {% block portlet_body -%}
    
        {{ form_start(form,{'action': path('user_update', { 'id': entity.id })}) }}
        <input type="hidden" name="_method" value="POST" />
        <div class="form-body">
        {{ form_widget(form) }}
        </div>
    {% endblock portlet_body %}

