{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}


{% block page_title %}User create{% endblock %}

{% set caption = 'slx_metronic.general.add'|trans %}
{% set isForm = true %}
{% set portletIcon = 'plus' %}

{% block formActions %}
  {{ form_widget(form.save) }}
  {{ form_widget(form.saveAndAdd) }}
  {{ metronic.abuttonBlue('slx_metronic.general.back_to_list', path('user')) }}
{% endblock %}

{% block portlet_body -%}
    {{ form_start(form,{'action': path('user_create')}) }}
      <div class="form-body">
        {{ form_widget(form) }}
      </div>
{% endblock portlet_body %}
