{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}

{% block page_title %}User{% endblock %}

{% block portletTools %}
<li><a href="{{ path('user_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i> {{ 'slx_metronic.general.edit'|trans }}</a></li>
<li><a href="{{ path('user_changePass', { 'id': entity.id }) }}"><i class="fa fa-key"></i> {{ 'users.user.change_password'|trans }}</a></li>
<li><a href="{{ url('user_delete', { 'id': entity.id }) }}"
       class="modal-confirm" 
       data-confirm-message="{{'slx_metronic.general.record_will_be_deleted'|trans}}"><i class="fa fa-trash-o"></i> {{ 'slx_metronic.general.delete'|trans }}</a></li>
<li class="divider"></li>
<li><a href="{{ path('user') }}" ><i class="fa fa-table"></i>{{ 'slx_metronic.general.list'|trans }}</a></li>

{% endblock portletTools %}
{% set caption = 'slx_metronic.general.view'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block portlet_body -%}
<div class="form-horizontal form-view">   
    <div class="form-body">
      {{ metronic.formViewRow('users.general.id'|trans, entity.id) }}
      {{ metronic.formViewRow('users.user.username'|trans, entity.username) }}
      {{ metronic.formViewRow('users.user.email'|trans, entity.email) }}
      {{ metronic.formViewRow('users.user.active'|trans, entity.isActive|boolToText) }}
    <h4 class="form-section">{{ 'users.user.role'|trans }}</h4>
    {% set roles = entity.getRoles %}
    {{ metronic.dataTablePre() }}
        <thead>
            <tr>
              <th class="span4">{{ 'users.user.role'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
              <td>{{role.getName() }}</td>
            </tr>
            {% endfor %}
          </tbody>
     {{ metronic.dataTablePost() }}

     {% if entity.profile is defined %}
         <h4 class="form-section">{{ 'users.profile.profile'|trans }}</h4>
         {{ metronic.formViewRow('users.profile.firstname'|trans, entity.profile.firstname) }}
         {{ metronic.formViewRow('users.profile.lastname'|trans, entity.profile.lastname) }}
         {{ metronic.formViewRow('users.profile.mobile'|trans, entity.profile.mobile) }}
         {{ metronic.formViewRow('users.profile.phone'|trans, entity.profile.phone) }}
         {{ metronic.formViewRow('users.profile.phone'|trans, entity.profile.phone) }}
     {% endif %}
     
    </div>
</div>
{% endblock portlet_body %}
