{% extends 'SlxMetronicBundle::login.html.twig' %}

{% block loginform %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
        <h3 class="form-title font-green">{{ 'users.general.login_to_your_account'|trans }}</h3>
        {% if error %}
            <div>{{ error.message }}</div>
        {% endif %}
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span>{{ 'users.general.enter_username_and_password'|trans }}</span>
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">{{ 'users.general.username'|trans }}</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="_username" /> </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">{{ 'users.general.password'|trans }}</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="_password" /> </div>
        <div class="form-actions">
            <button type="submit" class="btn green">{{ 'users.general.login'|trans }}</button>
            <label class="rememberme check mt-checkbox mt-checkbox-outline">
                <input type="checkbox" name="_remember_me" value="1" />{{ 'users.general.remember'|trans }}
                <span></span>
            </label>
            {# <a href="javascript:;" id="forget-password" class="forget-password">{{ 'users.general.forgot_password'|trans }}</a> #}
        </div>
    </form>

{% endblock %}

{% block lostpasswordform %}
    <form class="forget-form" action="index.html" method="post">
        <h3 class="font-green">Forget Password ?</h3>
        <p> Enter your e-mail address below to reset your password. </p>
        <div class="form-group">
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" /> </div>
        <div class="form-actions">
            <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
            <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
        </div>
    </form>

{% endblock %}