
{# ---------------------------------------------------------------------------- #}
{% block collection_row %}
    {{ form_label(form) }}
    <div class="form-group">
    {{ form_widget(form) }}
    </div>
{% endblock %}

{# ---------------------------------------------------------------------------- #}
{% block collection_label %}
    <h4  class="form-section">{{ label }}</h4>
{% endblock %}

{# ---------------------------------------------------------------------------- #}
{% block collection_widget %}


    <div class="collection col-sm-12">
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }} class="collectionholder">
            {{ form_errors(form) }}
            <table class="col-md-12">
            {% for rows in form %}
                {% if loop.first %}
                <thead>
                <tr>
                    {% for row in rows %}
                        {% set hwidth="" %}
                        {% if row.vars.label_attr.width is defined %}
                            {% set hwidth=row.vars.label_attr.width %}
                        {% endif %}
                        <th {% if hwidth is not same as("") %}style="width:{{ hwidth }}%"{% endif %}>{% spaceless %}
                            {% if row.vars.block_prefixes.1!='hidden' %}
                                {{ row.vars.label }}
                                {# form_label(row, null, { 'label_attr': { 'class': 'control-label' }}) #}
                            {% endif %}
                        {% endspaceless %}</th>
                      
                  {% endfor %}
                      <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% endif %}
                <tr>
                {% set fieldNum = 1 %}
                {% for row in rows %}
                    <td class="field{{ fieldNum }}">
                    {{ form_widget(row, attr) }}
                    {{ form_errors(row) }}
                    </td>
                    {% set fieldNum = fieldNum + 1 %}
                {% endfor %}
                    <td>
                    <a class="remove btn red pull-right" title="{{ 'slx_metronic.general.remove_row'| trans }}" href="javascript:;">
                        <i class="fa fa-times"></i>
                    </a>
                    </td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
            {{ form_rest(form) }}
            <div class="clearfix"></div>
            <div class="collection-actions">
                <a class="btn green btn-outline add" title="{{ 'slx_metronic.general.add_row'| trans }}" href="javascript:;">
                    <i class="fa fa-plus"></i> {{ 'slx_metronic.general.add_row'| trans }}
                </a>
            </div>
        </div>
    </div>
    <div class="clear"></div>

{% endblock collection_widget %}

{% block collection_item_label %}
    sdf
{% endblock collection_item_label %}
{# ---------------------------------------------------------------------------- #}
{% block collection_item_widget %}
{% spaceless %}
    <tr>
    {% set fieldNum = 1 %}
    {% for row in prototype %}
        <td class="field{{ fieldNum }}">
        {{ form_widget(row, attr) }}
        {{ form_errors(row) }}
        </td>
        {% set fieldNum = fieldNum + 1 %}
    {% endfor %}
        <td>
        <a class="remove btn red pull-right" title="{{ 'slx_metronic.general.remove_row'| trans }}" href="javascript:;">
            <i class="fa fa-times"></i>
        </a>
        </td>
    </tr>
{% endspaceless %}
{% endblock collection_item_widget %}