{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{# ------------------------------------------------------------------------ #}
{% block form_widget_compound %}
{% spaceless %}
    {% if form.parent == null %}
        {# {% if render_fieldset %}<fieldset>{% endif %}
        {% if show_legend %}{{ block('form_legend') }}{% endif %} #}
    {% endif %}

    {% if form.vars.tabbed %}
        <div class="tabbable-line">
        {{ form_tabs(form) }}
        <div class="tab-content">
    {% endif %}

    {{ block('form_rows') }}

    {% if form.vars.tabbed %}
        </div>
    </div>
    {% endif %}

    {{ form_rest(form) }}

    {% if form.parent == null %}
        {# {% if render_fieldset %}</fieldset>{% endif %} #}
    {% endif %}
{% endspaceless %}
{% endblock form_widget_compound %}

{% block form_tabs %}
{% if form.vars.tabsView is defined %}
{{ form_widget(form.vars.tabsView) }}
{% endif %}
{% endblock %}

{% block tabs_widget %}
{% spaceless %}
<ul class="{{ form.vars.attr.class }}">
    {% for tab in form.vars.tabs %}
        {% set class = ((tab.active ? 'active ' : '') ~ (tab.disabled ? 'disabled' : ''))|trim %}
        <li{% if class|trim is not empty %} class="{{ class }}"{% endif %}>
            <a data-toggle="tab" href="#{{ tab.id }}">
                {# {% if tab.icon %}{{ mopa_bootstrap_icon(tab.icon) }}{% endif %} #}
                {{ tab.label|trans({}, tab.translation_domain) }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endblock %}

{% block form_tab %}
    {% set tab_attr = attr|merge({'class': ('tab-pane' ~ (form.vars.tab_active ? ' active' : '') ~ ' ' ~ attr.class|default(''))|trim, 'id': id}) %}
    <div{% for attrname, attrvalue in tab_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ block('form_widget') }}
    </div>
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block form_row %}
{% spaceless %}
    {% if 'tab' in form.vars.block_prefixes %}
        {{ block('form_tab') }}
    {% else %}
    <div class="form-group {% if errors|length > 0 %}has-error{% endif %}">
        {{ form_label(form) }}
        <div class="col-md-8">
        {{ form_widget(form) }}
        {{ block('field_help') }}
        {{ form_errors(form) }}
        </div>
    </div>
    {% endif %}
{% endspaceless %}
{% endblock form_row %}

{# -----------------------------------------------------------------------
  checkbox and radio row customization to show help text
#}

{% block checkbox_radio_row -%}
{% spaceless %}
    <div class="form-group{% if not valid %} has-error{% endif %}">
        <div class="{{ block('form_label_class') }}"></div>
        <div class="{{ block('form_group_class') }}">
            {{ form_widget(form) }}
            {{ block('field_help') }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{%- endblock checkbox_radio_row %}

{# ------------------------------------------------------------------------ 
   choice widget
#}
{% block choice_widget_expanded -%}
    {% if '-inline' in label_attr.class|default('') -%}
        <div class="mt-checkbox-inline">
        {%- for child in form %}
            {{- form_widget(child, {
                parent_label_class: label_attr.class|default(''),
                translation_domain: choice_translation_domain,
            }) -}}
        {% endfor -%}
        </div>
    {%- else -%}
        <div class="mt-checkbox-list" {{ block('widget_container_attributes') }}>
            {%- for child in form %}
                {{- form_widget(child, {
                    parent_label_class: label_attr.class|default(''),
                    translation_domain: choice_translation_domain,
                }) -}}
            {% endfor -%}
        </div>
    {%- endif %}
{%- endblock choice_widget_expanded %}

{# ------------------------------------------------------------------------ 
   checkbox widget input seting up inline and list rendering
#}
{% block checkbox_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {% if 'checkbox-inline' in parent_label_class %}
        {{- form_label(form, null, { widget: block('checkbox_widget_input') }) -}}
    {% else -%}
        {{- form_label(form, null, { widget: block('checkbox_widget_input') }) -}}
    {%- endif %}
{%- endblock checkbox_widget %}

{# ------------------------------------------------------------------------ 
   checkbox widget input rendering
#}
{%- block checkbox_widget_input -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />  
{%- endblock checkbox_widget_input -%}

{# ------------------------------------------------------------------------ 
   Label for checkbox 
#}
{% block checkbox_label -%}
    {% set widget_type='checkbox' %}
    {{- block('checkbox_radio_label') -}}
{%- endblock checkbox_label %}

{# ------------------------------------------------------------------------ 
   Label for radio
#}
{% block radio_label -%}
    {% set widget_type='radio' %}
    {{- block('checkbox_radio_label') -}}
{%- endblock radio_label %}
{# ------------------------------------------------------------------------ 
   Label for checkbox and radio
#}
{% block checkbox_radio_label %}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
    {% if widget is defined %}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is not same as(false) and label is empty %}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {% endif %}
        {% if 'radio' in widget_type  %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' mt-radio  mt-radio-outline')|trim}) %}
        {% else %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' mt-checkbox  mt-checkbox-outline')|trim}) %}
        {% endif %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('')|replace({'checkbox-inline':''}))|trim}) %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('')|replace({'radio-inline':''}))|trim}) %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{- widget|raw }} {{ label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) -}}
            <span></span>
        </label>
    {% endif %}
{% endblock checkbox_radio_label %}


{# ------------------------------------------------------------------------ 
   If button is type==submit then adds a check icon in front of the label
#}
{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{% if type=='submit' %}<i class="fa fa-check"></i> {% endif %}{{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock button_widget %}

{# ------------------------------------------------------------------------ 
    Field help text
#}
{% block field_help %}
    {% if help is defined and help is not empty %}
        <span class="help-block">{{ help|trans|raw }}</span>
    {% endif %}
{% endblock %}
{# ------------------------------------------------------------------------ 
    Form errors
#}
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <span class="help-block">{{ error.message }}</span>{% if not loop.last %}<br />{% endif %}
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
{# ------------------------------------------------------------------------ 
    UserProfileType embeded form theming
#}
{% block userprofile_row %}
    {{ form_label(form) }}
    {{ form_widget(form) }}
{% endblock %}

{% block userprofile_label %}
    <h4  class="form-section">{{ label|trans }}</h4>
{% endblock %}

{# ------------------------------------------------------------------------ #}
{% block article_selector_widget %}
{% spaceless %}
    {% set type = type|default('hidden') %}
    {% set attr = attr|merge({
            'data-list-source': url(list_route, list_route_params),
            'data-allow-clear': add_clear_btn ? 'true' : 'false',
            'data-inited': 0
       }) %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' select2obj select2')|trim}) %}
    <select {{ block('widget_attributes') }}>{% if value is not empty %}<option value="{{value}}" selected>{{ value_text }}</option>{% endif %}</select>
    
{% endspaceless %}
{% endblock article_selector_widget %}

{# ------------------------------------------------------------------------ #}
{% block simple_text_widget -%}
    {% spaceless %}
        {{  label }}
    {% endspaceless %}
{% endblock simple_text_widget %}
