{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}

{% block page_title %}Settings{% endblock %}
{% block portletTools %}
{% endblock portletTools %}

{% set caption = 'slx_metronic.general.edit'|trans %}
{% set isForm = true %}
{% set portletIcon = 'pencil' %}

{% block formActions %}
    <button id="color_code_save" class="btn blue" type="submit">
        <i class="fa fa-check"></i> {{ 'slx_metronic.general.save'|trans }}
    </button>
    <a href="{{ path("slx_metronic_homepage") }}"  />{{ 'slx_metronic.general.cancel'|trans }}</a>
{% endblock %}

{% block portlet_body -%}
    {{ form_start(settings_form) }}
    <div class="form-body">
        {{ form_widget(settings_form) }}
        </div>
{% endblock %}

