{% block locked_entity_widget %}
    <div class="locked-entity">
    {% if value.title is defined %}
        <div class="form-control-static" style="display: block;">{{ value.title }}
            <a href="#" onclick="$(this).parent().css('text-decoration','line-through');$(this).parents('.locked-entity').children('input').val('');return false;"><i class="fa fa-times"></i></a>
        </div>
    {% set value = value.id %}
    {% endif %}
    {{  block('hidden_widget') }}
    </div>
{% endblock %}
