<h4 class="form-section">{{ 'users.profile.profile'|trans }}</h4>
{{ metronic.formViewRow('users.profile.firstname'|trans, profileo.firstname) }}
{{ metronic.formViewRow('users.profile.lastname'|trans, profileo.lastname) }}
{{ metronic.formViewRow('users.profile.mobile'|trans, profileo.mobile) }}
{{ metronic.formViewRow('users.profile.phone'|trans, profileo.phone) }}
{{ metronic.formViewRow('users.profile.phone'|trans, profileo.phone) }}

