{% import '@App/Article/article_macros.html.twig' as amacros %}

<div class="blog-post-lg bordered blog-container">
    <div class="blog-post-content ">
        <h2 class="blog-title blog-post-title">
            <a href="{{ path('article_show', { 'article_id': article.id }) }}">{{ article.title }}</a>
            {% if article.status is constant('STATUS_DRAFT', article) %}<span class="badge badge-warning">Draft</span>{% endif %}
        </h2>
        <p class="blog-post-desc">
        <p>{{ amacros.renderArticleAuthors(article.authors) }}</p>
        <i class="icon-notebook font-blue"></i> {{ ('app.article.type_' ~ article.articleType)|trans }},
        <i class="icon-clock font-blue"></i> {{ article.getPublishDate }}
        {%  if article.getJournal %} {{ article.getJournal.title }}{% endif %}{% if article.getPublisher %} {{ article.getPublisher.title }}{% endif %}<br />
        {%  if article.doi %}DOI: {{ article.doi }}{% endif %}
        </p>
        <div class="blog-post-foot">
            {# amacros.renderArticleTags(article.getKeywords, "") #}
            {% if article.review %}
                {{ amacros.renderAnnotatedTags(article.review.questions) }}
            {% endif %}

            <div class="blog-post-meta">
                <i class="fa fa-pencil font-blue"></i>
                <a href="javascript:;">{{ article.owner.lastName }}</a>
            </div>
            <div class="blog-post-meta">
                <i class="icon-calendar font-blue"></i>
                <a href="javascript:;">{{ article.createdAt|date('M d, Y') }}</a>
            </div>
            <div class="blog-post-meta">
                <i class="icon-bubble font-blue"></i>
                <a href="javascript:;">{{ article.commentCount }} Comments</a>
            </div>
        </div>
    </div>
</div>