<script src="{{ asset('bundles/slxmetronic/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
    {% for s,ss in stat_per_type %}
        $('.easy-pie-chart .number.{{ s }}').easyPieChart({
            animate: 1000,
            size: 75,
            lineWidth: 3,
            barColor:  '{{ cycle(["#F8CB00", "#1BBC9B","#F3565D"], loop.index0) }}'
         });
    {% endfor %}
//            barColor:
//            barColor:
    });
</script>
