<div class="portlet light">
    <div class="portlet-title">
        <div class="caption"><span class="caption-subject font-green-steel bold uppercase">Share by type</span></div>
    </div>
    <div class="portlet-body">
        <div class="row">
            {% for s,ss in stat_per_type %}
                <div class="col-md-4">
                    <div class="easy-pie-chart">
                        <div class="number {{ s }}" data-percent="{{ ss }}"><span>{{ ss }}</span>%</div><a class="title">{{ ("app.article.type_" ~ s)|trans }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
