{% extends 'SlxMetronicBundle::public.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}

{% block page_title %}Home{% endblock %}

{% block maincontent %}
    <div class="row">
        <div class="col-lg-8">
            {%  include('AppBundle:Default:_share_by_type_block.html.twig') %}
            {% for article in articles %}
                {%  include('AppBundle:Default:_article_list_item.html.twig') %}
            {%  endfor %}

        </div>
        <div class="col-lg-4">
            {{ render(controller('AppBundle:ArticleComment:latest')) }}
            {{ render(controller('AppBundle:Default:latestActivities')) }}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {%  include('AppBundle:Default:_share_by_type_js.html.twig') %}
{% endblock %}