{% if actions %}
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption"><span class="caption-subject font-green-steel bold uppercase">Latest activity</span></div>
        </div>
        <div class="portlet-body">
            <div class="general-item-list">
                {% for a in actions %}
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img alt="{{ a.user.getUsername() }}" class="item-pic rounded" src="{{ gravatar(a.user.getEmail()) }}" />
                                <span class="item-name primary-link">{{ a.user.firstName }} {{ a.user.lastName[:1] ~ '.' }}</span>
                                <span class="item-label">{{ a.createdAt|date('H:i M d, Y') }}</span>
                            </div>
                        </div>
                        <div class="item-body">
                            {{ a.action }} "{{ a.title }}"
                            <a href="{{ path('article_show', {'article_id': a.articleId}) }}">View</a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}