  {% extends 'SlxMetronicBundle::portletpage.html.twig' %}
  {% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}


{% block page_title %}Role list{% endblock %}

{% set caption = 'Role list' %}

  {% block portletTools %}
    <li><a href="{{ path('roles_new') }}" ><i class="fa fa-plus"></i> {{ 'slx_metronic.general.add'|trans }}</a></li>
    {{ metronic.exportCsvToolLink() }}
  {% endblock portletTools %}


{% block filter_form %}
  {% if filterForm is defined %}
    {{ metronic.portletPre('slx_metronic.general.filter', 'yellow', 'form', 'filter') }}
    <form action="{{ path('roles') }}" class="form-horizontal" method="GET">
      <div class="form-body">
    {{ form_widget(filterForm) }}
      </div>
            <div class="form-actions">
              {{ metronic.button('slx_metronic.general.apply', 'submit', 'blue', 'ok') }}
            </div>
        </form>
    {{ metronic.portletPost() }}
  {% endif %}
{% endblock %}


{% block portlet_body -%}

    {{ metronic.dataTablePre() }}
        <thead>
          <tr>
          {{ metronic.dataTableTh('Id', pagination, 'a.id') }}
          {{ metronic.dataTableTh('Name', pagination, 'a.name') }}
          {{ metronic.dataTableTh('Role', pagination, 'a.role') }}
          {{ metronic.dataTableTh('slx_metronic.general.actions') }}
          </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr class="odd gradeX">
                    <td><a href="{{ path('roles_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.role }}</td>
                    <td>
                      {{ metronic.dataTableAction('slx_metronic.general.view', path('roles_show', { 'id': entity.id }), 'green') }}
                      {{ metronic.dataTableAction('slx_metronic.general.edit', path('roles_edit', { 'id': entity.id }), 'blue') }}
                    </td>
            </tr>
        {% endfor %}
        </tbody>
    {{ metronic.dataTablePost(pagination) }}
{% endblock %}
