{% extends 'SlxMetronicBundle::portletpage.html.twig' %}
{% import 'SlxMetronicBundle::metronic_macros.html.twig' as metronic %}

{% block page_title %}User Roles{% endblock %}

{% block portletTools %}
    <li><a href="{{ path('roles_edit', { 'id': entity.id }) }}" 
           ><i class="fa fa-pencil"></i> {{ 'slx_metronic.general.edit'|trans }}</a></li>
    <li><a href="{{ url('roles_delete', { 'id': entity.id }) }}" 
           class="modal-confirm" 
           confirm-message="{{'slx_metronic.general.record_will_be_deleted'|trans}}"><i class="fa fa-trash-o"></i> {{ 'slx_metronic.general.delete'|trans }}</a></li>
  <li class="divider"></li>
  <li><a href="{{ path('roles') }}" ><i class="fa fa-table"></i>{{ 'slx_metronic.general.list'|trans }}</a></li>

{% endblock portletTools %}
{% set caption = 'slx_metronic.general.view'|trans %}
{% set isForm = false %}
{% set portletIcon = 'table' %}

{% block portlet_body -%}
<div class="form-horizontal form-view">                            
    <div class="form-body">
      {{ metronic.formViewRow('slx_metronic.general.id'|trans, entity.id) }}
      {{ metronic.formViewRow('users.user.title'|trans, entity.name) }}
      {{ metronic.formViewRow('users.user.role_token'|trans, entity.role) }}
    </div>
            

    </div>
{% endblock portlet_body %}
