/* here you can put your own css to customize and override the theme */

.editor-info {
    color: #9aa5b2;
    font-size: 13px;
    font-weight: 600;
    text-align: right;
}

.editor-info dl {
    float: right;
}
.editor-info dd {
    display: table-cell;
    padding-right: 5px;
}

.editor-info dt {
    display: table-cell;
    padding-right: 5px;
    font-weight: 400;
}

.single-article-info {

}

dl.single-article-info dt {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 6px;
}

dl.single-article-info dd {
    font-size: 16px;
    color: #7e8691;
    line-height: 24px;
}

dl.single-article-review dt {
    width: 40%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 6px;
}
dl.single-article-review dd {
    font-size: 16px;
    color: #7e8691;
    line-height: 24px;
    margin-left: 41%;
}
